* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    height: 100vh;
    background: black;
}

section {
    height: 100vh;
}

span {
    position: absolute;
    pointer-events: none;
    background: white;
    animation: animate 5s linear infinite;
}
@keyframes animate 
{
    0%
    {
        transform: scale(0) translateY(0) rotate(0deg);
        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }
    90%
    {
        opacity: 1;;
    }
    100%
    {
        transform: scale(1) translateY(-700%) rotate(360deg);
        opacity: 0;
    }
}